<!-- Changed the view to read the values, adding icons and images
used the secondary color that I changed in css in theme, and i changed the color of icons in tabs.page.scss 
to add images I used the code from 
https://github.com/manoellvitor/BreakingBadApp/blob/master/BreakingBadApp/src/app/pages/character-details/character-details.page.html
to change the color I used websites: https://ionicframework.com/docs/theming/themes, https://ionicframework.com/docs/v3/components/#overview,
https://ionic.io/ionicons?_gl=1*njqcfc*_ga*MzQ4MDI1NjU1LjE2NTI5NTIxNTE.*_ga_REH9TJF6KF*MTY1MzA1Nzg0NC41LjEuMTY1MzA1NzkyMS4w-->  
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" defaultHref="/tabs/characters">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ character?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="character" class="movie-card">
    <ion-card-content>
      <img src="{{ character.img }}" alt="{{ character.nickname }}" width="240" height="300">
    </ion-card-content>
    <ion-item >
      <ion-icon name="calendar" slot="start"></ion-icon>
      Date of birth: {{character.birthday}}
    </ion-item>
    <ion-item >
      <ion-icon name="videocam-sharp" slot="start"></ion-icon>
      Seasons: {{ character.category }}
    </ion-item>
    <ion-item >
      <ion-icon name="recording-sharp" slot="start"></ion-icon>
      Occupation: {{ character.occupation }}
    </ion-item>
    <ion-item >
      <ion-icon name="person-sharp" slot="start"></ion-icon>
      Nickname: {{ character.nickname }}
      , Actor Name: {{character.portrayed}}
    </ion-item>
  </ion-card>
</ion-content>
