
<!-- I generated new pages deathDetails using the command ionic g page deathDetails 
Changed the view to read the values, adding icons and images
used the secondary color that I changed in css in theme, and i changed the color of icons in tabs.page.scss --> 
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" defaultHref="/tabs/deaths">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ death?.death }}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="death" class="movie-card">
    <ion-item >
      <ion-icon name="skull-outline" slot="start"></ion-icon>
      Number of Deaths: {{death.deathCount}}
    </ion-item>
  </ion-card>
</ion-content>
