<ion-header>
  <ion-toolbar >
    <ion-title>Characters</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-searchbar placeholder="Search Character" animated autocomplete="on" (ionChange)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button detail lines="inset" *ngFor="let character of characters | async" (click)="openDetails(character)">
        {{ character?.name }}
        </ion-item>
    </ion-list>
</ion-content>
